<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="1" verbose="2">
    <listeners>
        <listener class-name="Hooks.CustomListeners"/>
    </listeners>

    <!-- Test for Chrome -->
    <test name="Chrome Tests">
        <parameter name="browser" value="chromium"/>
        <classes>
            <class name="Hooks.TestFactory"/>
        </classes>
    </test>

    <!-- Test for Firefox -->
    <test name="Firefox Tests">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="Hooks.TestFactory"/>
        </classes>
    </test>

    <!-- Test for WebKit -->
    <test name="WebKit Tests">
        <parameter name="browser" value="webkit"/>
        <classes>
            <class name="Hooks.TestFactory"/>
        </classes>
    </test>
</suite>