<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Langfit Test Suite" parallel="tests" thread-count="3" verbose="2">
    <listeners>
        <listener class-name="com.common.hooks.CustomListeners"/>
    </listeners>

    <!-- Test for Chrome -->
    <test name="Chrome Tests">
        <parameter name="browserType" value="chrome"/>
        <classes>
            <class name="com.langfit.test.fixture.TestFactory"/>
        </classes>
    </test>

    <!-- Test for Firefox -->
    <test name="Firefox Tests">
        <parameter name="browserType" value="firefox"/>
        <classes>
            <class name="com.langfit.test.fixture.TestFactory"/>
        </classes>
    </test>

    <!-- Test for WebKit -->
    <test name="WebKit Tests">
        <parameter name="browserType" value="safari"/>
        <classes>
            <class name="com.langfit.test.fixture.TestFactory"/>
        </classes>
    </test>
</suite>